@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Sans-Serif;
  background-color: rgb(250, 250, 250);
}


nav {

  position: fixed;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 10;
}

.gede h1 {
  line-height: 125%;
  font-size: 147%;
}

h2.zx {
  display: inline-block;
  font-size: 30px;
  line-height: 60px;
  margin-left: 35px;
}

ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  text-decoration: none;
}

ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 10px;
}

ul li a {
  color: rgb(52, 50, 64);
  text-decoration: none;

}

.menu a {
  border-radius: 99px;
  padding: 8px 14px;
  
}

.menu a:hover, .menu a.active {
  background-color: #4169E1;
  color: white;
}

label #btn, label #close {
  font-size: 30px;
  float: right;
  margin-right: 40px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 992px) {
  label #btn {
    display: block;
  }
  
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-right: 0;
    right: -100%;
    top: 60px;
    background-color: rgb(255, 255, 255, .8);
    text-align: center;
    transition: .5s;
  }
  
  ul li {
    display: block;
    line-height: 10px;
    margin: 50px 0;
  }
  
  .menu a {
  border-radius: 99px;
  padding: 10px 155px;
  
}
  
  #check:checked ~ ul {
    right: 0;
  }
  
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #close {
    display: block;
  }
}

section {
  padding: 6rem 5%;
  position: relative;
}

.zaxz {
  text-transform: capitalize;
  font-size: 30px;
}

.zaki {
  color: #4169E1;
}

.kecil {
  font-size: 25px;
}

.socials {
  margin-top: 15px;
  float: left;
}

.icons a {
  font-size: 2rem;
  display: inline-block;
  padding: 0 15px;
  color: white;
  margin-right: 10px;
  line-height: 60px;
  text-align: center;
  background-color: black;
  border-radius: 100%;
}

.aboutme {
  text-decoration: none;
  font-size: 15px;
  color: white;
  background-color: #4169E1;
  border-radius: 20px;
  padding: 9px 30px;
  float: left;
  margin-top: 100px;
  margin-left: -218px;
}

img#hero {
  margin: 0;
  margin-top: 50%;
  margin-bottom: 10%
}

.kocak {
  position: absolute;
  color: rgb(255,255,255, -100);
  top: 110%;
}

.subjudul {
  font-weight: 700;
  font-size: 30px;
  color: #4169E1;
  text-align: center;
  margin: -55% 0;
}

img.gweh {
  width: 100%;
  margin: 60% 0;
}

p.ngopot {
  margin: -200px 0;
}

p.frontend {
  font-weight: 600;
  margin-bottom: 10px;
}

p.hobby {
  margin-top: 5%;
  color: #4169E1;
  font-weight: 600;
}

span.feli {
  color: black;
  font-weight: 500;
}

.keterangan {
  font-weight: 600;
  margin-top : 5px;
  font-size: 15px;
}

span.age, span.loc {
  color: #4169E1;
}

img {
  display: block;
  max-width: 100%;
}

.container{
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em
}

img.gambarSekolah {
  border-radius: 5px;
}

.card {
  background: white;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
  border-radius: 10px;
}

h5 {
  color: rgba(0, 0, 0,0.6);
}

.lulus {
  color: #66ff33;
}
.ongoing {
  color: #ff9933
}

.bg {
  padding-left: 10px;
  padding-right: 10px;
  background: #4169E1;
  border-radius: 20px;
}

.txt h2 {
  color: white;
  margin-top: 5px;
}

.subjudul1 {
  font-size: 30px;
  color: #4169e1;
  text-align: center;
  margin-top: -35%;
  margin-bottom: 10%;
}
