@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Sans-Serif;
  background-color: rgb(250, 250, 250);
}


nav {
  position: relative;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: white;
}

h2.zx {
  display: inline-block;
  font-size: 30px;
  line-height: 60px;
  margin-left: 35px;
}

ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  text-decoration: none;
}

ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 10px;
}

ul li a {
  color: rgb(52, 50, 64);
  text-decoration: none;
}

.menu a {
  border-radius: 99px;
  padding: 8px 14px;
  
}

.menu a:hover, .menu a.active {
  background-color: #4169E1;
  color: white;
}

label #btn, label #close {
  font-size: 30px;
  float: right;
  margin-right: 40px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 992px) {
  label #btn {
    display: block;
  }
  
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-right: 0;
    right: -100%;
    top: 60px;
    background-color: rgb(255, 255, 255, .8);
    text-align: center;
    transition: .5s;
  }
  
  ul li {
    display: block;
    line-height: 10px;
    margin: 50px 0;
  }
  
  .menu a {
  border-radius: 99px;
  padding: 10px 179px;
  
}
  
  #check:checked ~ ul {
    right: 0;
  }
  
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #close {
    display: block;
  }
}

section {
  min-height: 100vh;
  padding: 6rem 5%;
}

.zaxz {
  text-transform: capitalize;
  font-size: 30px;
}

.zaki {
  color: #4169E1;
}

.kecil {
  font-size: 25px;
}

.socials {
  margin-top: 20px;
  float: left;
}

.icons a {
  font-size: 2rem;
  display: inline-block;
  padding: 0 15px;
  color: white;
  margin-right: 10px;
  line-height: 60px;
  text-align: center;
  background-color: black;
  border-radius: 100%;
}

.aboutme {
  text-decoration: none;
  font-size: 15px;
  color: white;
  background-color: #4169E1;
  border-radius: 20px;
  padding: 9px 30px;
  float: left;
  margin-top: 110px;
  margin-left: -212px;
}

img#hero {
  margin: 30% 0;
  width: 100%;
}

.kocak {
  position: absolute;
  color: rgb(255,255,255, .100);
  top: 900px;
}

.aboutmegede {
  font-weight: 700;
  font-size: 30px;
  color: salmon;
  text-align: center;
  margin: -55% 0;
}

img.gweh {
  width: 100%;
  margin: 60% 0;
}

p.ngopot {
  margin: -200px 0;
}

p.frontend {
  font-weight: 600;
  margin-bottom: 15px;
}